<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysGatewayMapper">
    
    <resultMap type="SysGateway" id="SysGatewayResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="status"    column="status"    />
        <result property="deptId"    column="dept_id"    />
        <result property="addr"    column="addr"    />
        <result property="uuid"    column="uuid"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSysGatewayVo">
        select id, name, status, dept_id, addr, uuid, create_time, update_time from sys_gateway
    </sql>

    <select id="selectSysGatewayList" parameterType="SysGateway" resultMap="SysGatewayResult">
        <include refid="selectSysGatewayVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="deptId != null "> and dept_id = #{deptId}</if>
            <if test="addr != null  and addr != ''"> and addr = #{addr}</if>
            <if test="uuid != null  and uuid != ''"> and uuid = #{uuid}</if>
        </where>
    </select>
    
    <select id="selectSysGatewayById" parameterType="Long" resultMap="SysGatewayResult">
        <include refid="selectSysGatewayVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSysGateway" parameterType="SysGateway" useGeneratedKeys="true" keyProperty="id">
        insert into sys_gateway
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="status != null">status,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="addr != null">addr,</if>
            <if test="uuid != null">uuid,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="status != null">#{status},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="addr != null">#{addr},</if>
            <if test="uuid != null">#{uuid},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSysGateway" parameterType="SysGateway">
        update sys_gateway
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="status != null">status = #{status},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="addr != null">addr = #{addr},</if>
            <if test="uuid != null">uuid = #{uuid},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysGatewayById" parameterType="Long">
        delete from sys_gateway where id = #{id}
    </delete>

    <delete id="deleteSysGatewayByIds" parameterType="String">
        delete from sys_gateway where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>