<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysWorkshopMapper">
    
    <resultMap type="SysWorkshop" id="SysWorkshopResult">
        <result property="id"    column="id"    />
        <result property="workshop"    column="workshop"    />
        <result property="companyId"    column="company_id"    />
        <result property="sort"    column="sort"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSysWorkshopVo">
        select id, workshop, company_id, sort, remark, create_time, update_time from sys_workshop
    </sql>

    <select id="selectSysWorkshopList" parameterType="SysWorkshop" resultMap="SysWorkshopResult">
        <include refid="selectSysWorkshopVo"/>
        <where>  
            <if test="workshop != null  and workshop != ''"> and workshop = #{workshop}</if>
            <if test="companyId != null "> and company_id = #{companyId}</if>
            <if test="sort != null "> and sort = #{sort}</if>
        </where>
    </select>
    
    <select id="selectSysWorkshopById" parameterType="Long" resultMap="SysWorkshopResult">
        <include refid="selectSysWorkshopVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSysWorkshop" parameterType="SysWorkshop" useGeneratedKeys="true" keyProperty="id">
        insert into sys_workshop
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="workshop != null">workshop,</if>
            <if test="companyId != null">company_id,</if>
            <if test="sort != null">sort,</if>
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="workshop != null">#{workshop},</if>
            <if test="companyId != null">#{companyId},</if>
            <if test="sort != null">#{sort},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSysWorkshop" parameterType="SysWorkshop">
        update sys_workshop
        <trim prefix="SET" suffixOverrides=",">
            <if test="workshop != null">workshop = #{workshop},</if>
            <if test="companyId != null">company_id = #{companyId},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysWorkshopById" parameterType="Long">
        delete from sys_workshop where id = #{id}
    </delete>

    <delete id="deleteSysWorkshopByIds" parameterType="String">
        delete from sys_workshop where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>