<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('回传信息列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>网关编码：</label>
                                <input type="text" name="uuid"/>
                            </li>
                            <li>
                                <label>网关名字：</label>
                                <input type="text" name="groupName"/>
                            </li>
                            <li>
                                <label>设备ID：</label>
                                <input type="text" name="deviceId"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:data:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:data:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:data:remove')}]];
        var prefix = ctx + "system/data";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "回传信息",
                columns: [
                {
                    field: 'uuid',
                    title: '网关编码'
                },
                {
                    field: 'groupName',
                    title: '网关名字'
                },
                {
                    field: 'deviceId',
                    title: '设备'
                },
                {
                    field: 'deviceName',
                    title: '设备名'
                },
                {
                    field: 'ai',
                    title: 'A流'
                },
                {
                    field: 'bi',
                    title: 'B流'
                },
                {
                    field: 'ci',
                    title: 'C流'
                },
                {
                    field: 'av',
                    title: 'A压'
                },
                {
                    field: 'bv',
                    title: 'B压'
                },
                {
                    field: 'cv',
                    title: 'C压'
                },
                {
                    field: 'aw',
                    title: '有功'
                },
                {
                    field: 'bw',
                    title: '无功'
                },
                {
                    field: 'cw',
                    title: '因数'
                },
                {
                    field: 'creatTime',
                    title: '回传时间'
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>